extends menuBoilerPlate
block extrahead
    script(src='/js/contract.js')
block content
    .container
        .row
            .col-10
                h3 Contracts
            .col-2
                button.btn.btn-success.ml-4#addContractButton Add Contract
        .row
            ul.list-group.list-group-horizontal
                each contract,index in contracts
                    li.list-group-item 
                        .card(style='width: 18rem;')
                            .card-body
                                h5.card-title #{contract.name}
                                h6.card-subtitle.mb-3.text-muted #{contract.address}
                                select(name='dropDown', id='funcDropdown'+index)
                                    each func in contract.functions
                                        option(value=func.body) #{func.body}
                                button.card-btn.btn.btn-danger.mb-3(onclick='deleteButton("'+contract.name+'")') Delete
                                button.btn.btn-success.mb-3.mr-2(onclick='payButton("'+contract.address+'","'+index+'")') Pay
                                
