extends menuBoilerPlate

block extrahead
    link(rel='stylesheet', href='/css/newContract.css')
    script(src='/js/newContract.js')


block content
    .container
        .row.justify-content-center
            .col-center
                h2.mb-3 Create New Contract Interaction
                form.ml-2
                    .form-group
                        label(for='name')  Custom Identifier
                        input#name.form-control(type='text' aria-describedby='emailHelp' placeholder='Contract Name')
                        small#emailHelp.form-text.text-muted A custom identifier you create to easily find contracts
                    .form-group
                        label(for='address') Address
                        input#address.form-control(type='text' placeholder='Contract Address')
                   
                    button.btn.btn-success(type='button')#addContract Add Contract